.pane {
  overflow-y: auto;
}

.sidebar {
  width: 20%;
  height: 100vh;
}

.sidebarHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 16px;
}

.sidebarHeader > h3 {
  font-size: 1.75rem;
  margin: 20px 0;
}

.newNote {
  cursor: pointer;
  background-color: #334756;
  font-size: 20px;
  border: none;
  color: white;
  border-radius: 3px;
  height: 30px;
  width: 30px;
}

.title {
  overflow: hidden;
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selectedNote {
  background-color: #334756;
}

.selectedNote .textSnippet {
  color: white;
  font-weight: 700;
}

.textSnippet {
  padding-inline: 5px;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.2rem;
  color: #334756;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.deleteBtn {
  display: none;
  background: none;
  border: none;
}

.title:hover > .deleteBtn {
  display: block;
}

.trashIcon {
  cursor: pointer;
  color: #f0a500;
}

.ggTrash {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 3));
  width: 10px;
  height: 12px;
  border: 2px solid transparent;
  margin-top: 1px;
}

.ggTrash::after,
.ggTrash::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
}

.ggTrash::after {
  background: currentColor;
  border-radius: 3px;
  width: 16px;
  height: 2px;
  top: -4px;
  left: -5px;
}

.ggTrash::before {
  width: 10px;
  height: 4px;
  border: 2px solid;
  border-bottom: transparent;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  top: -7px;
  left: -2px;
}
